<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{{title}} - Suspect Semantics</title>

        <meta name="description" content="A blog about programming and stuff.">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/normalize.css">
        <link rel="stylesheet" href="/assets/main.css">
    </head>
    <body>
        <div class="container">
            <header class="container-header">
                <h1 class="logo"><a href="/" title="Back to the home page.">Suspect Semantics</a></h1>
                <nav class="info"><a href="#" id="js-info" title="What is this site about?">?</a></nav>

                <h2 class="page-title">$title$</h2>
            </header>

            <div class="content">
                <main class="main">
                    {{body}}
                </main>
            </div>
        </div>
    </body>
</html>
